.molecule-counter {
  width: 30px;
  height: 30px;
  background-color: var(--navy-blue);

  &__count {
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    color: var(--white);
  }
}
